<div class="container mt-3">
    <h1 class="text-primary">Push a New Idea To Our Futur</h1>
    <br>
    <%= render 'form', idea: @idea %>

    <%= link_to 'Back', ideas_path , class:"mt-4 btn btn-primary text-light"%>
</div>